.hero {
  background-color: rgba(155, 202, 202, 0.378);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: soft-light;
  color: rgba(70, 32, 32, 0.009);
  padding-top: 200px;
  padding-bottom: 200px;
  margin: 10px;
}

.gameName {
  position: relative; /* Required for the pseudo-element */
  display: inline-block;
  /* Display the line only below the text */
  /* display: contents; */
  /* display: inline; */
  border: 1px;
  padding: 15px;
  border-radius: 0px;
  /* background-color: rgba(115, 131, 131, 0.378); */
  /* background-repeat: no-repeat; */
  background-size: cover;
  background-blend-mode: soft-light;
  color: rgba(21, 17, 17, 0.994);
  margin: 10px;
}

.gameName::after {
  content: ""; /* Create the line */
  position: absolute;
  bottom: -5px; /* Position it below the text */
  left: 50%; /* Center it horizontally */
  transform: translateX(-50%); /* Center it accurately */
  width: 100%; /* Adjust the width of the line */
  height: 3px; /* Height of the line */
  background-color: transparent; /* Color of the line */
}
