// styles.scss

// Import Chakra UI styles

// Define your custom styles
.my-divider {
  display: grid;
  grid-gap: 1rem;
  margin-top: 1rem;

  .divider-item {
    position: relative;

    .background {
      position: absolute;
      inset: 0;
      height: 1.3px;
      width: 100%;
      background-color: transparent;
      box-shadow: 0 0 50px #2ed3aae6, 0 0 10px #3bd2accb;
      filter: blur(0.2px);
    }

    .foreground {
      position: absolute;
      inset: 0;
      height: 0.6px;
      width: 100%;
      background-color: #0ceeb6;
      box-shadow: 0 0 50px rgba(58, 255, 206, 0.894), 0 0 10px #18daa0dc;
    }
    .beam {
      position: absolute;
      inset: 2px 2px 2px 2px; // Extend the beam ;outside the box
      background-color: #0ceeb6;
      opacity: 0.9; // Adjust the opacity to control the intensity of the beam
      animation: beamAnimation 5s infinite alternate; // Add animation for beam effect
    }
  }
}

@keyframes beamAnimation {
  from {
    opacity: 0.9;
  }
  to {
    opacity: 0.2;
  }
}
