$grey: #1f1f1f;

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.slider-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;

  .background-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
    overflow: hidden;
    display: flex;
    justify-content: center;

    .background-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: contain;
      filter: blur(30px); // Apply the blur effect
      opacity: 0.5;
      transition: opacity 0.8s ease;

      &.active {
        opacity: 1;
      }
    }
  }
  .slider {
    position: relative;
    height: 720px;
    width: 650px;
    overflow: hidden;

    @media only screen and (max-width: 375px) {
      height: 400px;
      width: 300px;
    }

    .image {
      position: relative;
      height: 100%;
      width: 100%;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      will-change: transform, opacity;
      justify-content: center;
      border-radius: 10px;
      opacity: 0.5;

      &:hover {
        cursor: grab;
      }

      &:active {
        cursor: grabbing;
      }
    }
  }

  .thumbnails {
    display: flex;
    justify-content: center;

    .thumbnail-container {
      position: relative;
      height: 60px;
      width: 95px;

      @media only screen and (max-width: 375px) {
        height: 70px;
        width: 50px;
      }

      &:hover {
        cursor: pointer;
      }

      &:not(:last-of-type) {
        margin-right: 5px;
      }

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
      }

      .active-indicator {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        pointer-events: none;
        transform: scaleX(0);
        transform-origin: left;
        background-color: $grey;
        transition: 1s cubic-bezier(0.56, 0.03, 0.12, 1.04) transform;

        &.active {
          transform: scaleX(1);
        }
      }
    }
  }

  .buttons {
    margin-top: 12px;

    button {
      outline: none;
      border: none;
      user-select: none;
      padding: 10px 12px;
      transform: skewY(-5deg) rotate(5deg);
      background-color: $grey;
      font-family: inherit;
      font-size: inherit;
      color: white;
      transition: 0.07s ease-out transform;

      &:first-of-type {
        margin-right: 15px;
      }

      &:hover {
        cursor: pointer;
      }

      &:active {
        transform: scale(0.85) skewY(-5deg) rotate(5deg);
      }
    }
  }
}
